/* @font-face {
  font-family: Danylko-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Danylko-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
}

body {
  font-family: 'Open sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background: currentColor;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*----------- heder-------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header-btn {
  color: var(--first-btn-color);
  margin-left: 30px;
}

/*----------- hero-------------- */

.hero {
}

.hero-list {
  width: 100px;
}

.hero-container {
  display: flex;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-content {
  background-color: gray;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--typical-mb);
  display: flex;
  align-items: baseline;
}

.hero-title:hover::before,
.hero-title:hover {
  color: teal;
}

.hero-title::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../img/about-img-2.jpeg);
  background-size: cover;
}

.hero-title::after {
  content: '!';
  color: rgb(144, 255, 80);
}

.hero-after-title {
  color: #9da4bd;
  max-width: 360px;
}

/*----------- about-------------- */

.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.about-container {
  display: flex;
}

.about-content {
  max-width: 470px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.about-after-title {
  color: #555555;
  margin-bottom: var(--typical-mb);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--second-btn-color);
}

/*----------- prices-------------- */

.prices {
  background-color: #303030;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  gap: 30px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc(50% - 15px);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::after {
  content: '';
  width: 100px;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item-text:last-child {
  order: 1;
}

/* .prices-item + .prices-item {
  margin-top: var(--typical-mb);
} */

.prices-item:not(:last-child) {
  margin-bottom: var(--typical-mb);
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 44px auto 0;
}

/*----------- benefits-------------- */

.benefits-container {
  display: flex;
}

.benefits-content {
  max-width: 500px;
}

.benefits-list {
  display: flex;
  width: calc(50% - 15px);
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 30px;
}

.benefits-item {
  border: 1px solid #000000;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  margin-top: 6px;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-mb);
}

.benefits-after-title {
  color: #555555;
}

/*----------- barbers-------------- */

.barbers-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}
.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-list {
  display: flex;
  column-gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.barbers-soc-link {
  width: 44px;
  height: 44px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

/* .barbers-soc-icon {
  fill: currentColor;
} */

.barbers-soc-link:hover {
  background-color: teal;
  fill: coral;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: coral;
} */

/*----------- gallery-------------- */

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}
