/* @font-face {
  font-family: Danylko-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Danylko-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: 'Open sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/*----------- heder-------------- */

.header {
  background-color: gray;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header-btn {
  color: var(--first-btn-color);
}

/*----------- hero-------------- */

.hero {
  background-color: gray;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero-after-title {
  color: #9da4bd;
}

/*----------- about-------------- */

.about-pre-title {
  color: #303030;
}
.about-title {
  color: var(--second-title-color);
}

.about-after-title {
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: var(--second-btn-color);
}

/*----------- prices-------------- */

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--first-title-color);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--first-btn-color);
}
