body {
  font-family: 'Open sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 106px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
