.barbers__pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}
.barbers__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card-list__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}
.card-list__item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.card-list {
  display: flex;
  column-gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.card-list__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #ff6a0077;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  .card-list__item:hover &,
  .card-list__item:focus & {
    transform: translateY(0);
  }
}

.media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.media__link {
  width: 44px;
  height: 44px;
  background-color: tomato;
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;
  fill: #ffffff;
  &:hover,
  &:focus {
    background-color: teal;
    fill: coral;
  }
}

/* .barbers-soc-icon {
  fill: currentColor;
} */

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: coral;
} */
