.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  @extend %align-list;
}

.header__logo {
  margin-right: 130px;
}

.navigation__list {
  display: flex;
  gap: 30px;
}

.navigation__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.header__connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.connect__btn {
  color: var(--first-btn-color);
  margin-left: 31px;
}
