.prices {
  background-color: #303030;
}

.prices__pre-title {
  margin-bottom: 20px;
}
.prices__title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices__wrap {
  display: flex;
  gap: 30px;
}

.table-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc(50% - 15px);
}

.table-list__item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  &:last-child {
    order: 1;
  }
}

.table-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
  & + & {
    margin-top: var(--typical-mb);
  }

  &::after {
    content: '';
    width: 100px;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
  }
  &:not(:last-child) {
    margin-bottom: var(--typical-mb);
  }
}

.prices__btn {
  color: var(--first-btn-color);
  display: block;
  margin: 44px auto 0;
}
